{% extends "base.html" %}

{% block title %}
{{ pizza.name }}
{% endblock %}

{% block body %}
<div class="container text-center my-5">
    <h1>{{ pizza.name }}</h1>
    <div>
        <img src="{{ pizza.img_pizza }}" alt="Pizza" />
        <h3>{{ pizza.description }}</h3>
        <h2>{{ pizza.pryce }}</h2>
        <a href="/about-pizza/{{ pizza.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/about-pizza/{{ pizza.id }}/update" class="btn btn-success">Редактировать</a>
        <a href="" class="btn btn-warning">В корзину</a>
        <a href="" class="btn btn-success">Купить</a>
    </div>
</div>
{% endblock %}