{% extends "base.html" %}

{% block title %}
Создание пиццы
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Создать пиццу</h1>
    <form method="post"> 
        <input type="text" name="name_pizza" id="name_pizza" class="form-control" placeholder="Введите название"><br>
        <textarea name="img_pizza" id="img_pizza" class="form-control" placeholder="Введите url пиццы"></textarea><br>
        <textarea name="description" id="description" class="form-control" placeholder="Введите описание"></textarea><br>
        <textarea name="pryce" id="pryce" class="form-control" placeholder="Введите цену"></textarea><br>
        <input type="submit" class="btn btn-success" value="Создать">
    </form>
</div>

{% endblock %}