{% extends "base.html" %} <!-- Наследуем -->

{% block title %}
Редактирование пиццы
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Редактировать пиццу</h1>
    <form method="post"> 
        <input type="text" name="name_pizza" id="name_pizza" class="form-control" value="{{ pizza.name_pizza }}" placeholder="Введите название"><br>
        <input type="text" name="img_pizza" id="img_pizza" class="form-control" value="{{ pizza.img_pizza }}" placeholder="Введите ссылку на картинку"><br>
        <textarea name="description" id="description" class="form-control" placeholder="Введите описание">{{ pizza.description }}</textarea><br>
        <input type="text" name="pryce" id="name_pizza" class="form-control" value="{{ pizza.pryce }}" placeholder="Введите цену"><br>
        <input type="submit" class="btn btn-success" value="Редактировать">
    </form>
</div>

{% endblock %}